.app__search-form {
    width: 100%;
    padding: 20px;
}

.search-form {
    display: flex;
    justify-content: center;
}

.search-bar__container {
    display: flex;
    flex-direction: column;
}

.submit-btn {
    align-self: flex-end;
}