.results__list {
    width: 100%;
    margin: 0;
    padding: 20px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.results__item {
    background-color: pink;
}

.results__item--favorite {
    border: 3px solid rgb(180, 20, 127);
    background-color: purple;
}