<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TV shows browser</title>
  <link rel="icon" href="favicon-32x32.png" />
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>

  <partial src="_header.html"></partial>

  <main class="app">

    <partial src="_search-form.html"></partial>
    <partial src="_search-results.html"></partial>

  </main>

  <script src="assets/js/main.js"></script>
</body>

</html>