// Color palette

$color-light: #FFFFFA;
$color-light-midtone: #78CDD7;
$color-midtone: #44A1A0;
$color-dark-midtone: #247B7B;
$color-dark: #0D5C63;

// Fonts

$font-family-title: 'Major Mono Display',
monospace;
$font-family-primary: 'Questrial',
sans-serif;
$font-family-secondary: 'Dosis',
sans-serif;
$font-size: 16px;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;